<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="人员信息" icon-on="ion-social-bitcoin" icon-off="ion-social-bitcoin-outline" ui-sref="tabs.person">
    <ion-nav-view name="person-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="当月业绩" icon-on="ion-ios-analytics" icon-off="ion-ios-analytics-outline" ui-sref="tabs.performancem">
    <ion-nav-view name="performancem-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="历史业绩" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" ui-sref="tabs.performanceh">
    <ion-nav-view name="performanceh-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>